* {
  margin: 0;
  font-family: 'TTLaundryGothicB';
}
/* 폰트 */
@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TTHakgyoansimKkwabaegiR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimKkwabaegiR.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--body-bg);
  color: var(--body-ft);
}

#wrap {
  height: auto;
  min-height: 100%;
}

/* header */
#header {
  height: 220px;
}
#header_container {
  background: var(--header-bg);
  color: var(--header-ft);
  width: 100%;
  height: inherit;
  margin: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

/* h1, 제목 */
h1 {
  font-size: 40px;
  font-weight: 700;
}
#header_ex {
  margin-top: 30px;
}

/* 토스트 팝업 */
.form {
  align-items: left;
}
.form-check-input {
  width: 3em;
  height: 25px;
}
#toast_img {
  margin-right: 10px;
}
.toast-container {
  position: fixed;
}
.toast-header {
  background-color: var(--toast-header-bg);
  color: var(--toast-header-ft);
}
.toast-body {
  background-color: var(--toast-body-bg);
  color: var(--toast-body-ft);
}

/* content 전체 설정 */
#content {
  width: 100%;
  margin-bottom: 70px;
}

/* team 약속, 목표  */
#team_plan {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #e6e4e4ad; */
}
.team_p {
  width: 500px;
  height: 210px;
  background-color: var(--team-plan-bg);
  border: 2px solid gray;
  border-radius: 10px;
  /*box-shadow: 5px 3px 5px 2px rgb(206, 206, 206); */
  margin: 50px auto;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 50px;
}
.team_p p {
  color: var(--body-ft);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px auto;
}
@media screen and (max-width: 1010px) {
  .team_p {
    width: 500px;
    height: auto;
  }
}

/* 팀 소개글 */
.team_ex {
  text-align: center;
  margin-top: 50px;
}

/* 팀 이미지 */
#team_image {
  margin: 40px auto;
}
/* .img-thumbnail {
  width: 400px;
  height: 200px;
} */
#img_content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.img {
  width: 250px;
  height: 250px;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  margin: 5px;
}

#footer {
  position: relative;
  background: #dcdcdc32;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer p:last-child {
  text-align: center;
  color: rgb(140, 140, 140);
}

/* switch style */
.switch {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 60px;
  height: 30px;
}
#switchBtn {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--btn-bg);
  border-color: var(--btn-border);
  color: var(--btn-color);
}

/* dark mode style */
:root {
  --header-bg: #75d0e57e;
  --header-ft: black;
  --body-bg: white;
  --body-ft: black;
  --team-plan-bg: #e6e4e4ad;
  --toast-header-bg: white;
  --toast-header-ft: #6c757d;
  --toast-body-bg: rgba(255, 255, 255, 0);
  --toast-body-ft: black;
  --btn-bg: white;
  --btn-color: black;
  --btn-border: white;
}

:root.dark {
  --header-bg: #41a5bc7e;
  --header-ft: rgb(234, 234, 234);
  --body-bg: rgb(54, 54, 54);
  --body-ft: rgb(234, 234, 234);
  --team-plan-bg: #5555557e;
  --toast-header-bg: #717171f2;
  --toast-header-ft: white;
  --toast-body-bg: #3c3c3cbc;
  --toast-body-ft: white;
  --btn-bg: black;
  --btn-color: white;
  --btn-border: black;
}
